.project-header {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-circle-icon {
  border-radius: 100%;
  /*  text-shadow: none;
  box-shadow: none; */
  font-size: 22px;
  background-color: #0285ff;
}

.user-btn {
  height: auto;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 50%;
  padding: 4px 7px;
}

.load-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
