.project-header {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.tag-roles-container > * {
  margin-bottom: 10px;
}

.tag-roles {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
}

.input-tag-roles {
  padding: 6px 10px;
  max-width: 130px;
}

.load-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.title_screen {
  text-align: center;
  padding: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}

.empty-project {
  padding-top: 40px;
  font-size: 18px;
  border-radius: 100%;
}

.loading_container_role {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
}
