.project-header {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-circle-icon {
  border-radius: 100%;
  font-size: 21px;
  background-color: #0285ff;
}

.tag-roles-container > * {
  margin-bottom: 10px;
}

.tag-roles {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
}

.input-tag-roles {
  padding: 6px 10px;
  max-width: 130px;
}

.load-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
