.card_project {
  border-radius: 8px;
  box-shadow: 1px 2px 5px #0003;
}

.project_info {
  border-bottom: 1px solid #e8e8e8;
}

.project_desc {
  display: flex;
  max-height: 5rem;
  overflow: auto;
  font-size: 16px;
}

.ant-page-header-content {
  padding: 0;
}

.date {
  padding-top: 4px;
  font-size: 13px;
  margin-bottom: 10px;
}

.projetc-roles {
  display: flex;
  padding-top: 10px;
  overflow-x: auto;
  max-width: 100%;
  padding-bottom: 5px;
}

/* .projetc-roles > * {
} */

.project-tag-roles {
  display: inline-block;
  padding: 3px;
  font-size: 14px;
  font-weight: 500;
}

.topic_list {
  display: flex;
  justify-content: space-between;
  /*  padding: 0 0.5em; */
  font-size: 18px;
  font-weight: 600;
  margin: 1rem;
  color: #333;
}

.list_container {
  overflow: auto;
  max-height: 40vh;
  margin: 0 20px;
}

.empty-topics {
  padding: 20px;
}

.topic_item_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid #e0e0e0 1px;
  border-left: solid 4px transparent;
  box-sizing: border-box;
  min-height: 70px;
}

.topic_item_container:hover {
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s;
  color: #1890ff;
  border-left: solid 4px #1890ff;
}

.topic_text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 0 16px;
  flex: 1;
  line-height: 1.5;
}

.topic_desc {
  font-size: 13px;
  font-weight: 300;
}
