.project_info {
  border-bottom: 1px solid #e8e8e8;
}

.project_desc {
  display: flex;
  max-height: 5rem;
  overflow: auto;
}

.date {
  padding-top: 4px;
  font-size: 11px;
}

.projetc-roles {
  display: flex;
  padding-top: 16px;
  overflow-x: auto;
  max-width: 100%;
}

.projetc-roles > * {
  margin-bottom: 10px;
}

.project-tag-roles {
  display: inline-block;
  padding: 3px;
  font-size: 15px;
  font-weight: 600;
}

.topic_list {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
  font-size: 18px;
  font-weight: 600;
  margin: 1rem;
  color: #333;
}

.list_container {
  overflow: auto;
  max-height: 40vh;
  margin: 0 20px;
}
