.container {
  display: flex;
}

.left-container {
  height: 100vh;
  width: 20%;
  min-width: 12rem;
  box-sizing: border-box;
}

.left-container .menu-title {
  display: flex;
  /*   justify-content: center; */
  align-items: center;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #1890ff;
  border-right: 1px solid #58aeff;
}

.left-container .menu-itens {
  height: calc(100% - 5.5rem);
  border-right: 1px solid #e8e8e8;
  overflow: auto;
}

.left-container .go-top {
  display: flex;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  color: #1890ff;
  transition: all 0.3s;
  font-size: 1.3rem;
  cursor: pointer;
  border-right: 1px solid #e8e8e8;
}

.left-container .go-top:hover {
  height: 1rem;
}

.go-top:active {
  opacity: 0.6;
}

.right-container {
  height: 100vh;
  width: 80%;
}

.right-container .header {
  background-color: #1890ff;
  height: 4rem;
}

.content {
  height: 100%;
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 16px;
}

.roles {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 0;
  flex-wrap: wrap;
}
