.main-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
}

.left-container {
  height: 100vh;
  width: 25%;
  min-width: 16rem;
  box-sizing: border-box;
}

.left-header {
  display: flex;
  align-items: center;
  height: 3.2rem;
  font-size: 16px;
  padding: 15px 10px;
  /*   color: #fff; */
  /* background-color: #323234; */
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.left-child {
  height: calc(100vh - 7.2rem);
  overflow: auto;
  box-shadow: 0px 10px 5px 5px rgb(201, 201, 201);
}

.right-container {
  height: 100vh;
  width: 75%;
  min-width: 400px;
  box-sizing: border-box;
}

.rigth-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  border-bottom: 1px solid #ededed;
}

.right-child {
  height: calc(100vh - 7.2rem);
  background-color: #d1d1d1;
  box-sizing: border-box;
  padding: 16px;
}
