.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 25px;
  color: #fff;
  background-color: #323234;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-name {
  font-size: 15px;
  font-weight: 600;
  margin: 0 10px;
}

.btn-circle-user {
  border-radius: 100%;
}
