.topic-details {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 16px;
}

.topic-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0.5rem;
  color: #333;
}

.topic-desc {
  font-size: 16px;
  margin: 2em 0;
}

.btn-new-replay {
  margin-top: 20px;
  margin-bottom: 20px;
}

.replays-container {
  overflow: scroll;
  height: calc(100% - 3.5rem);
  margin-right: -12px;
}

.replays-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
