.topic-details {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 16px;
  height: 100%;
}

.filter {
  position: absolute;
  right: 16px;
}

.topic-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.topic-desc {
  overflow: auto;
  max-height: 75%;
  font-size: 16px;
  margin: 1em 0;

  background-color: #fafafaf6;
  border: solid 0.5px #0001;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  padding: 8px;
}

.container-replay-modal {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

.replays-title {
  text-align: center;
  padding: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}

.replays-container {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  /* height: calc(100% - 5.5rem); */
  height: 100%;
  box-sizing: border-box;
  padding: 26px 10px;
  margin-right: -14px;
}

.btn-sync {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 16px;
}

.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background: #fff;
  padding: 26px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 100%;
}
