.topic-details {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 15px;
}

.topic-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0.5rem;
  color: #333;
}

.topic-desc {
  margin: 2em 0;
}

.btn-new-replay {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 30px;
  padding: 3px 10px;
}

.replays-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
