.replay {
  display: flex;
  width: 100%;
}

.my_replay {
  justify-content: flex-end;
}

.replay-card {
  max-width: 70%;
  min-width: 420px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 16px;
  margin: 10px 0;
  box-shadow: 1px 2px 5px #0002;
}

.card-header {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #e8e8e8;
}

.card-header .info-replay {
  font-size: 13px;
  font-weight: 300;
  width: 100%;
}

.card-header .kind-speech {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.card-header .dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 30px;
  width: 30px;
  padding: 8px;
  margin: -8px -8px -8px -4px;
  transition: all 1s;
}

.card-header .dropdown:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 100%;
  transition: all 1s;
}

.icon {
  padding: 6px;
  border-radius: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

/* 
.card-body .roles {
  font-size: 14px;
}

.card-body .role-in {
  width: 180px;
  margin-right: 30px;
}*/

.card-body .desc {
  font-size: 18px;

  background-color: #fafafaf6;
  border: solid 0.5px #0001;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 6px 6px;
  padding: 8px;
}

.card-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
  font-size: 11px;
  font-weight: 300;
  padding: 8px 10px;
  color: rgba(0, 0, 0, 0.6);
}

.card-footer .link {
  font-size: 14px;
  padding: 0 6px;
  font-weight: 400;
}
